{% extends 'base.html' %}

{%block head%}{%endblock head%}

{% block body %}
	<!-- Header with image -->
    <div class="w3-display-container w3-grayscale-min" id="home" >
        <img src="../static/images/goods/goods03.jpg" alt="" height="90%" width="100%">
        <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
            <span class="w3-tag">Open from 11am to 5pm</span>
        </div>
        <div class="w3-display-middle w3-center">
            <span class="w3-text-white" style="font-size:90px">Everyday<br>Fresh</span>
        </div>
        <div class="w3-display-bottomright w3-center w3-padding-large">
            <span class="w3-text-white">Columbus, OH</span>
        </div>
    </div>

<!--详细菜单-->
    <div class="w3-black w3-padding-64 w3-xxlarge" id="menu">
        <div class="w3-content">
            <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">THE MENU</h1>
            <div class="w3-row w3-border w3-border-dark-grey">
                <!--商家及其菜品-->
                {% for cag in categories %}
                    <a href="/goods/?cag={{ cag.id }}" name="{{cag.cag_name}}" class="w3-padding-large">{{cag.cag_name}}</a>
                    <div class="w3-row w3-container w3-padding-32 w3-white">
                    {% for goods in cag.goods_list %}
                        <h1><a href="/detail/?id={{ goods.id }}" name="{{goods.goods_name}} ">{{goods.goods_name}}  </a>
                            <span class="w3-tag w3-red w3-greyscale w3-round w3-xlarge">${{goods.goods_price}}</span>
                            <a href="/cart/add_cart/?id={{ goods.id }}" class="add_cart w3-right w3-tag w3-red w3-round w3-xxlarge">+</a></h1>
                        <p class="w3-text-grey w3-medium">{{goods.goods_desc}}</p>
                        <hr>
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--账户功能    -->
    <div class="w3-container w3-blue-grey w3-greyscale-min" id="account">

    </div>

    <script type="text/javascript">
            var $add_x = $('#add_cart').offset().top;
            var $add_y = $('#add_cart').offset().left;

            var $to_x = $('#show_count').offset().top;
            var $to_y = $('#show_count').offset().left;

            $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
            $('#add_cart').click(function(){
                $(".add_jump").stop().animate({
                    'left': $to_y+7,
                    'top': $to_x+7},
                    "fast", function() {
                        $(".add_jump").fadeOut('fast',function(){
                            $('#show_count').html(2);
                        });

                });
            })
        </script>
{% endblock body %}