<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>nbs-首页</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
	<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../static/js/slide.js"></script>
</head>
<body>
	<div class="w3-top">
        <div class="w3-row w3-padding w3-black">
            <div class="w3-col s3">
                <a href="#" class="w3-button w3-block w3-black">HOME</a>
            </div>
            <div class="w3-col s3">
                <a href="#menu" class="w3-button w3-block w3-black">MENU</a>
            </div>
            <div class="w3-col s3">
                <a href="#where" class="w3-button w3-block w3-black">ACCOUNT</a>
            </div>
            <div class="w3-col s3">
                <a href="/cart/show_cart" class="w3-button w3-block w3-black">CART</a>
            </div>
        </div>
    </div>

	<!-- Header with image -->
    <div class="w3-display-container w3-grayscale-min" id="home" >
        <img src="../static/images/goods/goods03.jpg" alt="" height="100%" width="100%">
        <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
            <span class="w3-tag">Open from 11am to 5pm</span>
        </div>
        <div class="w3-display-middle w3-center">
            <span class="w3-text-white" style="font-size:90px">Everyday<br>Fresh</span>
        </div>
        <div class="w3-display-bottomright w3-center w3-padding-large">
            <span class="w3-text-white">Columbus, OH</span>
        </div>
    </div>

    <div class="w3-black w3-padding-64 w3-xxlarge" id="menu">
        <div class="w3-content">
            <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">THE MENU</h1>
            <div class="w3-row w3-border w3-border-dark-grey">
                {% for cag in categories %}
                    <div class="w3-container w3-row s3 w3-padding-large left">{{cag.cag_name}}</div>
                    <div id="{{cag.cag_name}}" class="w3-row w3-container w3-padding-32 w3-white">
                    {% for goods in cag.goods_list %}
                        <h1><b><a href="/goods">{{goods.goods_name}}</a></b> <!--<span class="w3-tag w3-grey w3-round">Popular</span> -->
                            <span class="w3-right w3-tag w3-dark-grey w3-round w3-xlarge">${{goods.goods_price }}</span></h1>
                        <p class="w3-text-grey w3-medium">{{goods.goods_desc}}</p>
                        <hr>
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="w3-container w3-blue-grey w3-greyscale-min">

    </div>


	<div class="w3-center w3-red w3-greyscale w3-padding-32">
<!--		<div class="foot_link">-->
			<a href="#" class="w3-text-white">关于我们</a>
			<span>|</span>
			<a href="#" class="w3-text-white">联系我们</a>
			<span>|</span>
			<a href="#" class="w3-text-white">招聘人才</a>
			<span>|</span>
			<a href="#" class="w3-text-white">友情链接</a>
<!--		</div>-->
		<p>CopyRight © 2020 Not Boring Studio All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

</body>
</html>