<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>nbs-首页</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/slide.js"></script>
    {%block head%} {%endblock head%}
</head>
<body>
<!--TOP NAVIBAR-->
	<div class="top_nav">
            <div class="label">
                <a href="/main/">HOME</a>
            </div>
            <div class="label">
                <a href="/main/#menu">MENU</a>
            </div>
            <div class="label">
                <a href="/main/#account">ACCOUNT</a>
            </div>
            <div class="label">
                <a href="/cart/show_cart/" id="show_count">CART({{ cart_goods_count }})</a>
            </div>
    </div>

<!--Body starts from here-->
    <div id="home">
<!--        <div class="tag display-bl">-->
<!--            <span>Open from 11am to 5pm</span>-->
<!--        </div>-->
        <div>
            <img src="/static/images/goods/goods06.jpg" alt="" height="10%" width="100%">
        </div>
<!--        <div class="tag display-br">-->
<!--            <span>Columbus, OH</span>-->
<!--        </div>-->
    </div>

    {% block body %}{% endblock body %}
<!--	FOOTER -->
    <div class="footer">
        <span><hr></span>
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>电话：010-****888 </p>
        <small>CopyRight © 2020 Not Boring Studio All Rights Reserved</small>
    </div>
</body>

</html>