
{% extends 'new_base.html' %}

{%block head%}{%endblock head%}

{% block body %}

	<div class="content">
		<h1>收货地址</h1>
		<h3>请在您的邮箱中查收确认邮件。</h3>
<!--			支付人信息-->
		<div class="common_table clearfix">
		<dl>
			<dd>
				<table>
                    <tr>
						<td>订单编号：</td>
						<td class="order_info">{{ orderinfo.order_id }}</td>
					</tr>
					<tr>
						<td>收货地址：</td>
						<td class="order_info">{{ orderinfo.order_addr }}</td>
					</tr>
					<tr>
						<td>收货人：</td>
						<td class="order_info">{{ orderinfo.order_recv }} </td>
					</tr>
					<tr>
						<td>联系电话：</td>
						<td class="order_info">{{orderinfo.order_tel}}</td>
					</tr>
					<tr>
						<td>电子邮箱：</td>
						<td class="order_info">{{orderinfo.order_comment}}</td>
					</tr>
				</table>
			</dd>
		</dl>
<!--{#		<a href="user_center_site.html" class="edit_site">编辑收货地址</a>#}-->

		</div>
		<hr>

		<h1>商品列表</h1>
			{% for goods in order_goods_list %}
			<ul class="cart_item clearfix">
				<li class="pic"><img src="/static/images/goods/{{ goods.goods_info.goods_image }}"></li>
				<li class="goods_name">{{ goods.goods_info.goods_name }}</li>
				<li class="goods_num">共{{ goods.goods_num }}份</li>
				<li class="price">${{ goods.goods_info.goods_price }}/份</li>
				<li class="goods_total">${{ goods.total_money }}</li>
			</ul>
			<hr>
			{% endfor %}

	</div>

	<div class="settlements">
		<h1>总金额结算</h1>
		<div class="total">
			<h3>共计<b>{{ total_num }}</b>件商品, 小计: ${{ total_money }}</h3>
			<h3>运费：$1</h3>
			<h2>实付：$<span>{{ total_money|add:1 }}</span></h2>
		</div>
	</div>


{#	<div class="popup_con">#}
{#		<div class="popup">#}
{#			<p>订单提交成功！</p>#}
{#		</div>#}
{#		#}
{#		<div class="mask"></div>#}
{#	</div>#}
{#	<script type="text/javascript" src="js/jquery-1.12.2.js"></script>#}
{#	<script type="text/javascript">#}
{#		$('#order_btn').click(function() {#}
{#			localStorage.setItem('order_finish',2);#}
{##}
{#			$('.popup_con').fadeIn('fast', function() {#}
{##}
{#				setTimeout(function(){#}
{#					$('.popup_con').fadeOut('fast',function(){#}
{#						window.location.href = 'index.html';#}
{#					});	#}
{#				},3000)#}
{#				#}
{#			});#}
{#		});#}
{#	</script>#}

{% endblock body%}